{% extends "homepage.html"%} {% block title %}MovieBase{% endblock %} {% block head%} {{ super() }} {% endblock%} {% block page_content%}

<div class="container">
  <h1 class="mt-5"><i class="fa fa-bullhorn" aria-hidden="true"></i> Welcome to MovieBases' homepage, begin by selecting movies or actors in the navigation bar. </h1>
  <p>MovieBase is an interactive database in which you can track movies you have watched. Actors, their favorite quotes, and the movies they have appeared in and more! How many have you watched? </p>
</div>

{% endblock%}
